@use "../../assets/styles/variables";

.index {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mainDesc {
        font-size: 22px;
        line-height: 1.5;
        text-align: justify;
        
        @media (max-width: 1024px) {
            line-height: 1.4;
        }

        @media (max-width: 768px) {
            line-height: 1.2;
        }

        h1 {
            font-size: inherit;
            font-weight: 700;
            text-align: inherit;
        }

        ul {
            font-size: inherit;
            text-align: inherit;
        }
    }

    .button {
        margin-block: 70px;
        padding: 16px 50px;
        font-size: 24px;
    }
}