@use "../../assets/styles/_variables.scss" as *;

.testPage {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 1500px;

    .testHeader {
        display: flex;
        align-items: center;
        gap: 20px;

        .back {

        }

        h1 {
            font-size: 30px;
        }
    }

    .testContent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;

        .descColumn {

            .testDescription {

            }
        }

        .editorColumn {
            height: 500px;

            .buttons {

            }

            .output {

            }
        }

        .preview {

            .iframe {
                height: 100%;
                width: 100%;
            }
        }
    }
}